<%- include("partials/header") -%>

<h1>Compose</h1>
<form action="#" method="post">
    <label>Title</label>
    <input type="text" name="postTitle" placeholder="Enter Title">
    <label>Post</label>
    <textarea name="postContent" placeholder="Enter Post " style=""></textarea><br>
    <button type="submit" class="btn btn-primary" name="submitBtn" value="">Publish</button>
</form>

<%- include("partials/footer") -%>